@model Group_5_Hospital_Project.Models.Career_Job
@{
    ViewBag.Title = "DeleteConfirm";
}
<!--Here we are using two function first is to confirm if we want to delete the and the seconf function would delete it for us-->
<h2>Are you sure you want to delete @Model.job_name?</h2>
<!--Here this link would bring us back to the show page of the job as if dont want to delete the particular entry.-->
<div class="navbar">
    <a href="/Career_Job/Show/@Model.job_id">Cancel</a>
</div>
<!--Here it would delete selected entry for the particular jobid-->
<form method="POST" action="/Career_Job/Delete/@Model.job_id">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>
