@model List<Group_5_Hospital_Project.Models.Find_Doctor>
@{
    ViewBag.Title = "List";
}

<h2>List of Doctors</h2>
<div class="navbar">
    <a class="navlink" href="/Find_Doctor/New">Add New Doctor</a>
</div>
<form method="GET" action="/Find_Doctor/List">
    <input type="text" id="finddoctorsearchkey" name="finddoctorsearchkey" />
    <input type="submit" value="Search" />
</form>

<div class="tilecontainer">
    @{

        foreach (var Doctor in Model)
        {
            <div class="listitem">
                    <div class="itemdetails">
                        <div class="listcat"><a href="/Find_Doctor/Show/@Doctor.doctor_id">@Doctor.doctor_name</a></div>
                        <div class="listcat">Email id: <span>@Doctor.doctor_email</span></div>
                        <div class="listcat">Phone: <span>@Doctor.doctor_phone</span></div>
                        <div class="listcat">Specialization: <span>@Doctor.doctor_specialization</span></div>
                        @*<span class="cta"><a href="/Find_Doctor/Update/@Doctor.doctor_id">Update</a></span>*@
                     
                    </div>
                <div style="clear:both;"></div>
            </div>
        }
    }
    <div style="clear:both;"></div>
</div>
