@model Group_5_Hospital_Project.Models.Donation
@{
    ViewBag.Title = "DeleteConfirm";
}
<!--Here we are using two fuuction first is to confirm if we want to delete the and the second function would delete it for us-->
<h2>Are you sure you want to delete @Model.donor_name?</h2>
<!--Here this link would ask if the user wants to delete a particular donation from the database as a confirmation-->
<div class="navbar">
    <a href="/Donation/show/@Model.donor_id">Cancel</a>
</div>
<!--Here it would delete selected entry for the particular donor_id-->
<form method="POST" action="/Donation/Delete/@Model.donor_id">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>
