@using Group_5_Hospital_Project.Models
@model List<Group_5_Hospital_Project.Models.Wishes>


@{


    <div class="">
        <a class="" href="/Wishes/New">Add Send Best Wishes Form</a><br /><br />
    </div>

    foreach (var wishes in Model)
    {

        <div><a href="/Wishes/Show/@wishes.Id">@wishes.Title</a></div>

    }


}